GEMINI_FANHUB_APIKEY=
GEMINI_FANHUB_NAME=
GEMINI_FANHUB_PROJECT_NAME=
GEMINI_FANHUB_PROJECT_NUMBER=
SECRET_KEY=django-insecure-fe)#tzrs080fp@-xf0)ap4b1e7xskj$wnm60g_cxayap341r65
MYSQL_PORT=3306
MYSQL_PASSWORD=root
MYSQL_NAME=fanhubplus
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_TIMEOUT=
FRONTEND_URL=http://localhost:5173
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
TEST_RESET_EMAIL=
